@charset "UTF-8";

a 
{
  text-decoration: none;
  color: black;
}
.container-all 
{
  max-width: 2560px;
}

h2,
h3,
h4,
h5,
h6,
p 
{
  font-family: "Roboto", sans-serif;
}

body 
{
  box-sizing: border-box;
}
.container-all 
{
  max-width: 2560px;
}
@media screen and (min-width: 1800px) 
{
.container-all 
{
  max-width: 1800px;
  margin: auto;
}
}
.fas 
{
  margin-right: 20px;
}
h1 
{
  color: #9356DC;
}
/*Header*/
header 
{
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  width: 100%;
  min-width: 320px;
  padding: 21px 0;
}
header .logo 
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .logo img 
{
    max-width: 168px;
}
.fa-arrow-left:before 
{
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

/*Loader*/
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFF;
  left: 0;
  top: 0;
  z-index: 10000;
  animation: loader 3s forwards;
}
/*Animation loader*/
@keyframes loader 
{
  0% 
  {
    opacity: 1;
  }
  100% 
  {
    opacity: 0;
    z-index: -10;
  }
}
.loader__circle {
  border: 10px solid #F3F3F3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear forwards;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*Animation du loader circle*/
@keyframes spin 
{
  0% 
  {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% 
  {
    transform: rotate(360deg);
    opacity: 0;
  }
}
  
/* Recherche ville*/
.search 
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 20px 0;
  font-weight: bold;
  width: 100%;
}
.localisation 
{
  margin-right: 10px;
}
.page_accueil 
{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 40px;
  margin-bottom: 50px;
}
.page__menu 
{
  font-weight: bold;
  font-size: 25px;
}
.page__explorer 
{
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  text-align: center;
  color: #FFF;
  font-weight: normal;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.page__explorer:hover 
{
  opacity: 0.8;
  box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.25);
}
  
/*Fonctionnement*/
.fonction__titre 
{
  margin: 0 0 20px 22px;
}
.fonction 
{
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}
.fonction h2 
{
  margin: 0 0 30px 0;
}
.fonction__choix 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 20px 20px 40px;
  font-weight: bold;
  background-color: #F6F6F6;
  padding: 30px 50px 30px 18px;
  margin-left: 20px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 300px;
  max-height: 78px;
}
.fonction_img 
{
  margin-right: 20px;
}
.fonction__choix:hover 
{
  background-color: #f5edff;
}
.fonction__choix:hover .fas 
{
  color: #9356DC;
}
.fonction__choix__nb 
{
  width: 18px;
  height: 18px;
  padding: 4px 4px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  position: absolute;
  top: 30%;
  left: -4%;
}
  
/*Restaurants*/
.restaurants 
{
  background-color: #f6f6f6;
}
.restaurants__titre 
{
  padding: 50px 0 10px 22px;
}
.restaurants__contenu 
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurants__carte 
{
  border-radius: 20px;
  background-color: white;
  margin-bottom: 18px;
  position: relative;
  max-width: 280px;
  min-width: 280px;
}
@media screen and (min-width: 375px) 
{
  .restaurants__carte 
  {
    max-width: 330px;
    min-width: 280px;
  }
}
@media screen and (min-width: 650px) 
{
  .restaurants__carte 
  {
    margin-right: 25px;
  }
}
.restaurants__carte img 
{
  width: 100%;
  max-height: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.restaurants__carte .restaurants__carte__contenu 
{
  padding: 19px 11px;
  position: relative;
  display: flex;
}
.restaurants__carte .restaurants__carte__contenu h3
{
  margin-bottom: 6px;
}
.restaurants__carte .restaurants__carte__contenu .restaurants_carte__nom__contenu 
{
  position: relative;
}
@keyframes heart__full__opacity 
{
  0% 
  {
    opacity: 0;
  }
  50% 
  {
    opacity: 0.5;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% 
  {
    opacity: 1;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes heart__empty__opacity1 
{
  0% 
  {
    opacity: 1;
  }
  50% 
  {
    opacity: 0;
  }
  100% 
  {
    opacity: 0;
  }
}
.heart {
  position: absolute;
  right: 20px;
  top: 1;

  &__1 {
      position: relative;

      &:hover {
          animation: heart__empty__opacity1 1s;
      }
  }

  &__2 {
      position: absolute;
      top: 0px;
      opacity: 0;
      color: #FFF;

      &:hover {
          animation: heart__full__opacity 1s forwards;
      }
  }
}
.restaurants__carte .restaurants__carte__contenu .heart 
{
  position: absolute;
  right: 20px;
  top: 1px;
}
.restaurants__carte .restaurants__carte__contenu .heart__1 
{
  position: relative;
}
.restaurants__carte .restaurants__carte__contenu .heart__1:hover 
{
  animation: heart__empty__opacity1 1s;
}
.restaurants__carte .restaurants__carte__contenu .heart__2 
{
  position: absolute;
  top: 0px;
  opacity: 0;
  color: #FFF;
}
.restaurants__carte .restaurants__carte__contenu .heart__2:hover 
{
  animation: heart__full__opacity 1s forwards;
}
.restaurants .btn-new 
{
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

/*Bannière*/
.photo__restaurant img 
{
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

/*Carte restaurant*/
.titre__carte 
{
  font-family: "Shrikhand", cursive;
  max-width: 322px;
}

.fa-heart:before 
{
  margin-left: 20px;
}

@media screen and (min-width: 1024px) 
{
  .carte__index 
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.carte 
{
  background-color: #F6F6F6;
  padding: 36px 21px;
  margin-top: -27px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  z-index: 1;
}
.carte .far 
{
  align-self: flex-end;
}
.carte h2 
{
  margin-bottom: 35px;
}
.entrees 
{
  margin-bottom: 27px;
}
.entrees h2::after 
{
  content: "";
  display: block;
  width: 43px;
  height: 3px;
  background: #99E2D0;
}

@keyframes fadein 
{
  0% 
  {
    opacity: 0;
  }
  100% 
  {
    opacity: 1;
  }
}
.carte__index__entrees 
{
  animation: fadein 2s;
}
@media screen and (min-width: 1140px) 
{
  .carte__index__entrees 
  {
    margin-right: 10px;
  }
}
.carte__index__plats 
{
  animation: fadein 4s;
}
@media screen and (min-width: 1142px) 
{
  .carte__index__plats 
  {
    margin-right: 10px;
  }
}
.carte__index__desserts 
{
  animation: fadein 6s;
}
.carte__index__entrees h2,
.carte__index__plats h2,
.carte__index__desserts h2 
{
  font-weight: normal;
  font-size: 20px;
}
.carte__index__contenu 
{
  background-color: #FFF;
  max-width: 350px;
  height: 70px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  padding: 0 0 0 16px;
  border-radius: 0.75rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (min-width: 400px) and (max-width: 1024px) 
{
  .carte__index__contenu 
  {
    max-width: none;
  }
}
.carte__index__contenu__assiette 
{
  width: 800px;
  padding: 0px 0;
  border-radius: 0.75rem;
  display: flex;
  /*justify-content: space-between;*/
}
.carte__index__contenu__assiette h3
{
  font-size: 12px;
}
.carte__index__contenu__assiette h4
{
  font-size: 9px;
}
@media screen and (min-width: 320px) and (max-width: 425px) 
{
  .carte__index__contenu__assiette h3 
  {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .carte__index__contenu__assiette h4 
  {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.carte__index__contenu:hover .carte__index__contenu__assiette__confirmation 
{
  margin-right: 0px;
  min-width: 4rem;
  transition: margin-right 0.5s;
}
.carte__index__contenu:hover .header_menu 
{
  white-space: nowrap;
  text-overflow: ellipsis;
}
.carte__index__contenu:hover .header_menu h3 
{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.carte__index__contenu:hover .header_menu h4 
{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 405px) 
{
  .carte__index__contenu:hover .header_menu 
  {
    max-width: 130px;
  }
}
.carte__index__contenu:hover .circle 
{
  transform: rotate(360deg);
}

.carte__index__contenu__assiette__confirmation 
{
  background-color: #99E2D0;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -64px;
}

.circle 
{
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100px;
  background: #FFF;
  color: #99E2D0;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  transition: transform 0.5s;
}
.circle .fas 
{
  margin-left: 4px;
}
.center 
{
  text-align: center;
}
.carte__prix 
{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  font-weight: bold;
  margin-bottom: 20px;
  width: 25%;
}
.header_menu 
{
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
}
.header_menu h3 
{
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header_menu h4 
{
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen  (min-width: 375px) and (max-width: 400px) 
{
  min-width: 250px;
  max-width: 315px;
}
@media screen and (min-width: 400px) and (max-width: 1024px) 
{
  max-width: none;
}

&__assiette 
{
  width: 350px;
  padding: 14px 0;
  border-radius: .75rem;
  display: flex;
  justify-content: space-between;

    h4 
    {
      font-size: 16px;
    }

    h3 
    {
      font-size: 16px;
    }

  @media screen and (min-width: 320px) and (max-width: 425px) 
  {
      h3 
      {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      h4 
      {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
  }
}

&:hover {
  .carte__index__contenu__assiette__confirmation {
      margin-right: 0px;
      min-width: 4rem;
      transition: margin-right 0.5s;
  }

  .header_menu {
      white-space: nowrap;
      text-overflow: ellipsis;

      h3 {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
      }

      h4 {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
      }

      @media screen and (max-width:405px) {
          max-width: 130px;
      }

  }

  .circle {
      transform: rotate(360deg);
  }

}

// @media screen and (min-width: 375px) {
//     min-width: 250px;
//     width: 100%;
// }
}



.carte__index__contenu__assiette__confirmation {
background-color: #99E2D0;
min-width: 4rem;
display: flex;
align-items: center;
justify-content: center;
margin-right: -64px;
}

.circle {
width: 1.6rem;
height: 1.6rem;
border-radius: 100px;
background: #FFF;
color: $colour-tertiary;
display: flex;
align-items: center;
align-self: center;
align-content: center;
transition: transform 0.5s;

.fas {
  margin-left: 4px;
}
}

.center {
text-align: center;
}

.carte__prix {
display: flex;
justify-content: flex-end;
align-items: flex-end;
align-self: flex-end;
font-weight: bold;
/*margin-right: -10px;*/
width: 25%;
}

.header_menu {
width: 230px;
display: flex;
flex-direction: column;
justify-content: space-between;
text-overflow: ellipsis;

h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
}

h4 {
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}
}

/*Bouton Commander*/
.bouton__commander 
{
  padding: 30px 0 80px 0;
  text-align: center;
  background-color: #F6F6F6;
}
.bouton__commander--pink 
{
  background-color: #9356DC;
  padding: 15px 50px;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.bouton__commander--pink:hover 
{
  opacity: 0.8;
  box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.25);
}

/*Footer*/
footer 
{
  background-color: #353535;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0px;
  max-width: 100%;
  min-width: 320px;
}
footer h3 
{
  display: flex;
  margin: 0 0 10px 20px;
  color: #e6e6e6;
  font-weight: normal;
}
.footer_img1 
{
  margin-right: 17px;
}
.footer_img2 
{
  margin-right: 9px;
}
footer a 
{
  text-decoration: none;
}
footer a:hover 
{
  text-decoration: underline;
  color: #FFF;
}
footer .footer__logo 
{
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 15px;
}

